<header>
        <img src="" alt="">
        <ul>
            <li>filme</li>
            <li>filme</li>
        </ul>
    </header>
    <header class="cabecalho">
    <img class="cabecalho-imagem" src="alurastart logo.png" alt="logo da alura start">
    <ul class="cabecalho-lista">
        <li class="cabecalho-lista-item">filme</li>
        <li class="cabecalho-lista-item">filme</li>
    </ul>
</header>
.cabecalho-imagem{
    width: 20%;
}
.cabecalho {
    background-color: #112012;
    color: linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #112012;
    color: linear;
}
